@model DTOLibrary.User

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center pt-5">Account information</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Avatar" height="130" width="130"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @if (String.IsNullOrEmpty(Model.PhoneNumber))
            {
                <span>(No info)</span>
            }
            else
            {
                @Html.DisplayFor(model => model.PhoneNumber)
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @if (String.IsNullOrEmpty(Model.Address))
            {
                <span>(No info)</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Address)
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @if (String.IsNullOrEmpty(Model.Gender.ToString()))
            {
                <span>(No info)</span>
            }
            else if (Model.Gender == true)
            {
                <span>Male</span>
            }
            else
            {
                <span>Female</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @if (String.IsNullOrEmpty(Model.Birthday.ToString()))
            {
                <span>(No info)</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Birthday)
            }

        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @if(Model.Status == true)
            {
                <span>Active</span>
            } else
            {
                <span>Inactive</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleNavigation.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
