@model DTOLibrary.Order

@{
    ViewData["Title"] = "Order History Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfItem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Customer Email
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Customer.UserId">
                @Html.DisplayFor(model => model.Customer.Email)
            </a>
        </dd>
        <dt class="col-sm-2">
            Customer name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
    </dl>

    <div>
        <h3>Details: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDetail in ViewBag.OrderDetailList)
                {
                    <tr>
                        <td>
                            @orderDetail.Product.ProductName
                        </td>
                        <td>
                            @orderDetail.ItemPrice
                        </td>
                        <td>
                            @orderDetail.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-route-id="@Model.Customer.UserId" asp-action="Index">Back to List</a>
</div>
