@model IEnumerable<DTOLibrary.Order>

@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Order History</h1>
<br/>
@{ int rowNo = 0;}
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Order ID
            </th>
            <th>
                Ordered Date
            </th>
            <th>
                Order Title
            </th>
            <th>
                Address
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfItem) items
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
